extends base

block content 
    include _header

    // Image Display Page
    #dashboard-page.page
        .dashboard
            // Feed
            #feed.feed
                .post
                    .post-header
                        .post-avatar
                            img(src='/images/male.jpg' style='border-radius:50%; width:32px;')
                        .post-username #{image.title}
                    .post-image  
                        img(src=`${image.imageUrl}` width=893)
                    .post-actions
                        button#like.action-btn &#x1F44D; 
                        button#disLike.action-btn  &#x1F44E;
                        button.action-btn &#x1F4E4;
                    .post-likes #{likeCount.Likes} likes
                    .post-caption
                        |               #{image.caption}, 
                        |
                        span.username Location 
                        |               #{image.location}, 
                        | 
                        span.username People Present
                        | #{image.peoplePresent}
                    .post-time 2 HOURS AGO
                        br
                        br
                        .comment
                            each comment in allComment
                                p
                                    strong= comment.authorEmail
                                    | 
                                    | #{comment.comment}                            
                        br
                        form
                            input#imageId(type='hidden' value=`${image._id}`)
                            input#authorEmail(type='hidden' value=`${user.email}`)
                            textarea#commentText.textarea-field(placeholder='Write a comment...')
                            button.btn-primary()
                                | Post a Comment
    script(src='/js/comment.js')